{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Launches the {{ ddclient_identifier }}.service periodically

[Timer]
Unit={{ ddclient_identifier }}.service
OnCalendar={{ ddclient_schedule }}

[Install]
WantedBy=timers.target
